<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand logo-texto" href="/">
    <i class="fas fa-crow logo"></i>
    Cotejador
  </a>
  <ul class="nav">
    <li class="nav-list-item act">
      <i class="fas fa-plus-square "></i>
      <a class="nav-link" href="/agregar/partido"
        >Agregar partido <span class="sr-only">(current)</span></a
      >
    </li>
    <li class="nav-list-item">
      <i class="fas fa-play"></i>
      <a class="nav-link" href="#">Correr matcheo</a>
    </li>
    <li class="nav-list-item">
      <a class="nav-link" href="#"><i class="fas fa-cogs"></i></a>
    </li>
  </ul>
</nav>
