<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>Entradas</title>
  </head>
  <body>
    <div class="boletos-contenido">


      <div class="boleto">
        <div class="boleto-header">
          <div class="header-info">
            <h2>Seccion</h2>
            <p>104</p>
          </div>
          <div class="header-info">
            <h2>Seccion</h2>
            <p>104</p>
          </div>
          <div class="header-info">
            <h2>Seccion</h2>
            <p>104</p>
          </div>
        </div>
        <div class="boleto-info">
          <div class="header-info">
            <h2>Seccion</h2>
            <p>104</p>
          </div>
          <div class="header-info">
            <h2>Seccion</h2>
            <p>104</p>
          </div>
        </div>
        <div class="boleto-titulo">
          <h1>Chulo 0002</h1>
          <h1>VS</h1>
          <h1>Chulo 0002</h1>
        </div>
        <div class="boleto-ubicacion">
          <h3>Arena los matadores</h3>
        </div>
      </div>
      <div class="boleto">
            <div class="boleto-header">
              <div class="header-info">
                <h2>Seccion</h2>
                <p>104</p>
              </div>
              <div class="header-info">
                <h2>Seccion</h2>
                <p>104</p>
              </div>
              <div class="header-info">
                <h2>Seccion</h2>
                <p>104</p>
              </div>
            </div>
            <div class="boleto-info">
              <div class="header-info">
                <h2>Seccion</h2>
                <p>104</p>
              </div>
              <div class="header-info">
                <h2>Seccion</h2>
                <p>104</p>
              </div>
            </div>
            <div class="boleto-titulo">
              <h1>Chulo 0002</h1>
              <h1>VS</h1>
              <h1>Chulo 0002</h1>
            </div>
            <div class="boleto-ubicacion">
              <h3>Arena los matadores</h3>
            </div>
          </div>
    </div>
  </body>
</html>
