.act {
  font-weight: bold;
}
.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  color: #fd1717;
  font-size: 2rem;
}
.logo-texto {
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  border-radius: 1rem;
  padding: 0.5rem;
}
.logo-texto:hover {
  border-radius: 1rem;
  background: #80808054;
  padding: 0.5rem;
}
.contenido {
  width: 95%;
  margin-top: 1rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.3rem;
}
.edicion-btn {
  font-size: 2rem;
  color: blue;
  opacity: 0.5;
  transition-duration: 1s;
}
.eliminar-gallo {
  color: red;
}
.edicion-btn:hover {
  font-size: 2rem;
  color: blue;
  opacity: 1;
}
.eliminar-gallo:hover {
  color: red;
  opacity: 1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar {
  width: 100%;
}
.card-body {
  border: 1px solid black;
}

.equipo {
  display: flex;
  justify-content: space-between;
}
.gallos-registrar {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boletos-contenido {
  background: #c5c5c5;
  padding: 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  width: 90%;
}

.boleto {
  margin: 0.3rem;
  background: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed black;
  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.boleto-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: linear-gradient(135deg, #eceddc 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #eceddc 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #eceddc 25%, transparent 25%),
    linear-gradient(45deg, #eceddc 25%, transparent 25%);
  background-size: 100px 100px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: #ec173a;
}

.boleto-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.boleto-titulo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Bree Serif", serif;
}
